<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Comercio Management System</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
 
</head>
<body>

 <div class="container my-2">
 <h1>Comercio List</h1>
 
    <a th:href="@{/showNewComercioForm}" class="btn btn-primary btn-sm mb-3"> Add Comercio </a>

  <table border="1" class = "table table-striped table-responsive-md">
   <thead>
    <tr>
     <th>Comercio First Name</th>
     <th>Comercio Last Name</th>
     <th>Acciones</th>
    </tr>
   </thead>
   <tbody>
    <tr th:each="comercios : ${listComercio}">
     <td th:text="${comercios.nomcomercio}"></td>
     <td th:text="${comercios.afprpmaximo}"></td>
     <td>
     <a th:href="@{/showFormForUpdate/{id}(id=${comercios.id})}" class="btn btn-primary">Update</a>
     <a th:href="@{/deleteComercio/{id}(id=${comercios.id})}" class="btn btn-danger">Delete</a>
     </td>
     
    </tr>
   </tbody>
  </table>
 </div>
</body>
</html>